@media (min-width: 1200px) {
    .cms-index-index .page.messages {
        .messages {
            margin-right: 250px;
        }
    }

    .home-3-style.layout-boxed .page-wrapper {
        background-color: #f0f3ef;
    }

    .featured-categoreis .cate-grid .item {
        width: 20%;

        &:nth-child(5n+1) {
            clear: both;
        }
    }

    .product-bottom .products-grid .item {
        width: 20%;

        &:nth-child(5n+1) {
            clear: both;
        }
    }

    .cms-index-index .header-style-3 {
        border-color: transparent;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .slidershow-banner {
        margin: 0;
        padding-top: 20px;
    }

    .group-deal .left-block-title .title-block:before {
        margin-top: 32px;
    }

    .tab-slider .product-item .item-inner {
        .box-image-list {
            width: 68px;
        }

        .product-item-details {
            margin-left: 68px;

            .number-item {
                top: 0;
            }

            .product-item-name {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    .banner-right-group {
        img {
            width: 100%;
        }
    }

    .tab-slider .ltabs-wrap .ltabs-tabs li {
        margin-left: 10px;
    }

    .featured-categoreis .cate-grid .item {
        width: 20%;

        &:nth-child(5n+1) {
            clear: both;
        }
    }

    .product-bottom .products-grid .item {
        width: 20%;

        &:nth-child(5n+1) {
            clear: both;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slidershow-banner {
        margin: 0;
        padding-top: 20px;
    }

    .banner-right-group {
        img {
            width: 100%;
        }
    }

    .featured-categoreis .cate-grid .item {
        width: 25%;

        &:nth-child(4n+1) {
            clear: both;
        }
    }

    .product-bottom .products-grid .item {
        width: 25%;

        &:nth-child(4n+1) {
            clear: both;
        }
    }

    .featured-categoreis {
        background-size: auto 100%;
    }

    .featured-categoreis .cate-grid .item .item-inner .cat-image {
        min-height: 150px;
    }

    .group-deal .left-block-title {
        float: none;
        width: 100%;
    }

    .group-deal .products-grid {
        margin: 0;
    }

    .group-deal .title-block h2 {
        display: block !important;
    }
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap .ltabs-current-select {
        display: block;
    }

    .slidershow-banner {
        margin: 0;
        padding-top: 20px;
    }

    .banner-right-group {
        img {
            width: 100%;
        }
    }

    .featured-categoreis .cate-grid .item {
        width: 33.3333%;

        &:nth-child(3n+1) {
            clear: both;
        }
    }

    .product-bottom .products-grid .item {
        width: 33.3333%;

        &:nth-child(3n+1) {
            clear: both;
        }
    }

    .featured-categoreis {
        background-size: auto 100%;
    }

    .featured-categoreis .cate-grid .item .item-inner .cat-image {
        min-height: 150px;
    }

    .group-deal .left-block-title {
        float: none;
        width: 100%;
    }

    .group-deal .products-grid {
        margin: 0;
    }

    .group-deal .title-block h2 {
        display: block !important;
    }

    .tab-slider .ltabs-tabs-container {
        padding: 0;
    }

    .sm-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap {
        border-color: transparent;
        background-color: #f7f7f7;
    }

    .group-banner-container {
        img {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .featured-categoreis .cate-grid .item {
        width: 100%;
        float: none;
    }

    .product-bottom .products-grid .item {
        width: 100%;
        float: none;
    }

    .slidershow-banner {
        margin-bottom: 20px;
    }

    .banner-right-group,
    .slidershow-banner .slidershow {
        width: 100%;
        float: none;
    }

    .home-page-3 .title-block h2 {
        &:before,
        &:after {
            display: none !important;
        }
    }
}